Django==1.10.6
django-capture-tag==1.0
django-debug-toolbar==1.7
django-decorator-include==1.2
django-extensions==1.7.7
docutils==0.13.1
flake8==3.3.0
future==0.16.0
isort==4.2.5
Jinja2==2.9.5
MarkupSafe==1.0
requests==2.13.0
tox==2.6.0
coverage==4.3.4
